html body .ace_content,
html body .ace_line,
html body .ace_line .ace_variable,
html body .ace_line .ace_string {
  background-color: #333;
  color: #fff;
}

html body .ace_cursor {
  background-color: #fff;
}

html body .ace_indent-guide {
  background-color: #444;
}

html body .ace_cursor {
  background-color: rgba(255, 255, 255, 0.4);
  width: 3px;
}

html body .ace_gutter-layer,
html body .ace_gutter-cell.ace_gutter-active-line {
  background-color: #444;
  color: #fff;
}

html body .jsoneditor.jsoneditor-mode-code {
  border: none;
}

html body .ace-jsoneditor .ace_marker-layer .ace_active-line {
  background: transparent;
}
