{
  "importOrder": ["^[^.@]", "^@[^/]", "^@/", "^\\.\\.", "^\\.", "\\.scss$"],
  "importOrderSeparation": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "quoteProps": "preserve"
}
